.button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: left;
  width: max-content;

  @include respond-to-up("md") {
    font-size: 18px;
    line-height: 24px;
    padding: 16px;
  }

  &--primary {
    background: #FF3240;
    color: #000000;
  }
}
