.match {
  background: #fffaff;
  position: relative;

  &__text {
    padding-top: 360px;
    padding-bottom: 30px;

    @include respond-to-up("md") {
      width: 50%;
      padding: 77px 0;
    }

    @include respond-to-up("lg") {
      padding: 158px 0;
    }

    h1 {
      font-size: 42px;
      font-weight: 500;
      line-height: 52px;
      letter-spacing: -0.03em;
      text-align: left;
      color: #000000;

      @include respond-to-up("lg") {
        font-size: 54px;
        line-height: 62px;
      }
    }

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: #757575;

      @include respond-to-up("lg") {
        font-size: 18px;
        width: 75%;
      }
    }
  }

  &__store {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      width: 150px;
      height: 56px;
    }
  }

  &__movie {
    position: absolute;
    right: 0;
    top: -10px;
    width: 100%;

    @include respond-to-up("md") {
      top: -20px;
      width: 450px;
    }

    @include respond-to-up("lg") {
      top: -70px;
      width: 700px;
    }
  }
}
